# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
debug/layer.obj
debug/layerbasic.obj
debug/layergroup.obj
debug/main.obj
debug/mainwindow.obj
debug/moc_mainwindow.obj
debug/PhotoStall.pdb
debug/PhotoStall.vc.pdb
debug/qrc_icon.obj
*.obj
*.exe
*.ilk
PhotoStall_resource.rc
debug/PhotoStall_resource.res
demo/translations/qt_ar.qm
demo/translations/qt_bg.qm
demo/translations/qt_ca.qm
demo/translations/qt_cs.qm
demo/translations/qt_da.qm
demo/translations/qt_de.qm
demo/translations/qt_en.qm
demo/translations/qt_es.qm
demo/translations/qt_fi.qm
demo/translations/qt_fr.qm
demo/translations/qt_gd.qm
demo/translations/qt_he.qm
demo/translations/qt_hu.qm
demo/translations/qt_it.qm
demo/translations/qt_ja.qm
demo/translations/qt_ko.qm
demo/translations/qt_lv.qm
demo/translations/qt_pl.qm
demo/translations/qt_ru.qm
demo/translations/qt_sk.qm
demo/translations/qt_uk.qm
resources/PhotoStall.png
release/PhotoStall_resource.res
demo/enigma.evb
